@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --gold-project: #cc9933;
  --white-project: #ffffff;
  --grey-black-project: #333333;
  --black-project: black;
  --base-color: #f1f1f1;
}

body {
  margin: 0;
  font-family: 'Muller', sans-serif;
  background-color: var(--base-color);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: sans-serif;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-headers {
  margin-top: 0;
  margin-left: 40px;
  font-size: 40px;
  line-height: 32px;
  color: var(--grey-black-project);
  font-weight: 400;
}

button {
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

button:hover {
  cursor: pointer;
  background-color: var(--gold-project);
  color: var(--white-project);
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.9);
}

/* Header */

.container-header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  font-weight: normal;
}

.container-header-top strong:nth-child(2) {
  flex-grow: 1;
}

.logo-img {
  width: 260px;
  height: 55px;
  margin-right: 25px;
}

.container-header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: var(--white-project);
  border-radius: 12px;
}

.header-phone-link {
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
  color: #666666;
}

.header-phone-link:hover {
  color: var(--gold-project);
}

.fa-arrow-circle-right {
  color: var(--gold-project);
}

.header-personal-account {
  color: var(--gold-project);
  font-size: 16px;
  line-height: 1;
}

.header-nav-list {
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 45px;
}

.header-nav-item-link {
  font-size: 16px;
  line-height: 32px;
  color: var(--grey-black-project);
}

.header-nav-item-link:hover {
  color: var(--gold-project);
}

.header-search {
  position: relative;
  width: 350px;
  height: 50px;
}

.header-search input {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  background-color: var(--base-color);
  border-radius: 15px;
  border: none;
  outline: none;
}

.header-search-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url('/img/search.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-search-button:hover {
  background-color: transparent;
}

.header-search-button:active {
  transform: translateY(-40%);
}

/* Articles: quick-booking and special-offer */

.quick-booking-special-offer {
  padding-top: 70px;
}

.quick-booking-header,
.special-offer-header {
  margin-bottom: 20px;
}

.container-sections {
  display: flex;
  flex-basis: 50%;
}

.container-quick-booking {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 55px;
}

.quick-booking-input {
  min-width: 515px;
  height: 70px;
  margin-bottom: 24px;
  border: none;
  border-radius: 12px;
  padding-left: 20px;
  font-size: 16px;
  outline: none;
}

.quick-booking-link {
  min-width: 160px;
  min-height: 70px;
  margin-right: 30px;
  border: none;
  border-radius: 12px;
  background-color: var(--gold-project);
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  color: var(--white-project);
}

.quick-booking-link:hover {
  background-color: var(--white-project);
  color: var(--gold-project);
}

.quick-booking-total-offers-link {
  color: var(--gold-project);
}

.quick-booking-total-offers-link:hover {
  color: var(--black-project);
}

.background-special-offer {
  width: 595px;
  height: 540px;
  background: url('/img/spec-offer.jpg') no-repeat center center;
  padding: 265px 0px 40px 40px;
  align-content: flex-end;
}

.special-offer-category {
  margin-top: 0;
  margin-bottom: 40px;
  max-width: 315px;
  font-size: 66px;
  line-height: 58px;
  font-weight: 600;
  color: var(--white-project);
}

.special-offer-price {
  font-size: 35px;
  line-height: 32px;
  color: #858381;
  margin-right: 40px;
  transform: translateY(-3px);
}

.special-offer-detailed {
  font-size: 16px;
  line-height: 32px;
  color: #ffcc66;
  background: url('/img/arrow-special-offer.svg') no-repeat center right;
  padding-right: 15px;
}

.special-offer-info {
  display: flex;
  align-items: center;
}

/* About us */

.container-about-us {
  margin-top: 65px;
}

.about-us-header {
  margin-bottom: 20px;
}

.about-us-description {
  margin-left: 40px;
  margin-bottom: 0;
  max-width: 885px;
  font-size: 16px;
  line-height: 32px;
  color: #797979;
}

/* Services */

.container-services {
  margin-top: 65px;
}

.services-header {
  margin-bottom: 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  min-width: 570px;
  min-height: 325px;
  flex: 0 0 49%;
  margin-top: 25px;
  background-color: var(--white-project);
  border-radius: 12px;
}

.services-item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.services-item-descriptions {
  max-width: 400px;
}

.services-item-img {
  width: 100%;
  height: 50%;
  display: block;
  transform: translateX(0.5px);
  margin-bottom: 35px;
}

.services-item-img-champagne {
  background: url('/img/champagne.png') no-repeat;
}

.services-item-img-table {
  background: url('/img/table.png') no-repeat;
}

.services-item-img-swimpool {
  background: url('/img/swimpool.png') no-repeat;
}

.services-item-img-cars {
  background: url('/img/cars.png') top center no-repeat;
}

.services-item-link {
  display: inline-block;
  padding-left: 30px;
  padding-right: 20px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  color: var(--gold-project);
}

.services-item-link:hover {
  color: var(--black-project);
}

.services-item-svg {
  vertical-align: middle;
}

.services-item-link:hover .services-item-svg path {
  stroke: var(--black-project);
}

.services-item-descriptions {
  padding-left: 30px;
  font-size: 16px;
  line-height: 32px;
  color: var(--grey-black-project);
  min-width: 425px;
  margin-bottom: 30px;
}
/* Advantages */

.container-advantages {
  margin-top: 65px;
}

.advantages-header {
  margin-bottom: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  min-width: 275px;
  min-height: 275px;
  flex: 0 0 23%;
  margin-top: 23px;
  background-color: var(--white-project);
  border-radius: 12px;
  padding: 44px 0px 0px 44px;
}

.advantages-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.advantages-item-description {
  max-width: 188px;
  font-size: 16px;
  line-height: 32px;
  color: var(--grey-black-project);
}

/* Accommodation */

.container-accommodation {
  margin-top: 68px;
}

.accommodation-header {
  margin-bottom: 0;
}

.accommodation-list {
  display: flex;
  flex-wrap: wrap;
}

.accommodation-item {
  flex: 0 0 30%;
  margin-top: 25px;
  min-width: 373px;
  min-height: 440px;
  background-color: var(--white-project);
  border-radius: 12px;
}

.accommodation-item:not(:nth-child(3n)) {
  margin-right: 25px;
}

.accomodation-item-position {
  padding: 35px 0px 40px 40px;
  font-size: 16px;
  line-height: 1;
  color: var(--grey-black-project);
}

.accommodation-price {
  display: inline;
  margin-right: 35px;
}

.accommodation-price-color {
  color: #969696;
}

.accommodation-price-bold {
  font-size: 22px;
  font-weight: 600;
}

.accommodation-name {
  font-weight: 500;
}

.accommodation-city {
  margin-bottom: 0;
  color: #999999;
}

.accommodation-btn {
  min-width: 100px;
  min-height: 40px;
  margin-top: 20px;
  background-color: var(--white-project);
  border: 1px solid var(--gold-project);
  border-radius: 12px;
  color: var(--gold-project);
  font-weight: 600;
  padding: 13px 19px;
}

.accommodation-item-all-var {
  position: relative;
  width: 100%;
  min-height: 449px;
  background: url('/img/accommodation-all-var.png') no-repeat;
  background-size: cover;
  padding-top: 368px;
}

.accommodation-item-all-var:hover {
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
}

.accommodation-item-link {
  background: url('/img/arrow-white.svg') no-repeat right center;
  padding-left: 40px;
  padding-right: 20px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  color: var(--white-project);
}

.accommodation-item-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

/* Contact */

.container-contact-write-to-us {
  margin-top: 68px;
}

.contact-content {
  max-width: 472px;
  min-height: 617px;
  background-color: var(--white-project);
  border-radius: 12px;
}

.contact-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 47px;
  margin: 0px 45px 44px 45px;
}

.contact-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 28px;
  border-bottom: solid 1px #cccccc;
}
.contact-item:not(:nth-child(1)) {
  margin-top: 26px;
}

.contact-item-header {
  min-width: 146px;
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  color: #666666;
}

.contact-item-description {
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-black-project);
}

.contact-item-description-link {
  display: inline-block;
  color: var(--gold-project);
  margin-top: 10px;
}

.contact-item-description-grey {
  color: #a7a7a7;
}

.btn-contact-route {
  margin: 0px 0px 45px 45px;
  border: solid 1px var(--gold-project);
  border-radius: 12px;
  background-color: var(--white-project);
  color: var(--gold-project);
  font-weight: 600;
  min-width: 214px;
  min-height: 70px;
}

.section-write-to-us {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-headers-write {
  margin-left: 0;
}

.write-to-us-input {
  border: solid 1px var(--white-project);
  border-radius: 12px;
  min-width: 340px;
  min-height: 70px;
  margin-bottom: 23px;
  background-color: var(--white-project);
  padding-left: 21px;
  outline: none;
}

.write-to-us-form {
  display: flex;
  flex-direction: column;
}

.write-to-us-input-textarea {
  padding-top: 15px;
  resize: none;
}

.write-to-us-input-button {
  padding-left: 0;
  background-color: var(--gold-project);
  color: var(--white-project);
}

.write-to-us-input-button:hover {
  background-color: var(--white-project);
  color: var(--gold-project);
}

/* footer */

.footer-container {
  margin-top: 22px;
  margin-bottom: 52px;
  min-height: 338px;
  min-width: 1168px;
  background-color: var(--grey-black-project);
  border-radius: 12px;
  display: flex;
}

.footer-left-list {
  margin: 45px 120px 0px 50px;
  max-width: 300px;
}

.footer-item {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 30px;
  color: var(--base-color);
  display: flex;
  flex-direction: column;
}

.footer-item-link {
  color: var(--gold-project);
  line-height: 1.4;
}

.footer-center-list {
  margin-top: 45px;
}

.footer-picture-sun {
  width: 255px;
  height: 230px;
  background-image: url('/img/footer_sun.png');
  margin-top: 110px;
  transform: translate(-100px, 2px);
}

.footer-social-list {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

.footer-social-item {
  margin-bottom: 20px;
}

.footer-social-icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center;
}

.footer-social-tripadvisor {
  width: 25px;
  height: 25px;
  background-image: url('../img/tripadvisor.png');
}

.footer-social-twitter {
  width: 25px;
  height: 25px;
  background-image: url('../img/twitter.png');
}

.footer-social-facebook {
  width: 25px;
  height: 25px;
  background-image: url('../img/facebook.png');
}

.footer-social-vk {
  width: 25px;
  height: 25px;
  background-image: url('../img/vk.png');
}

.footer-social-google {
  width: 25px;
  height: 25px;
  background-image: url('../img/google.png');
}
